<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Shape || Build you community</title>
  </head>
  <body>
    <!-- top navebar -->

    <section class="nave-bar">
      <div class="container sm flex">
        <a href="/home"
          ><img class="" src="/assets/google.png" alt="" height="30px"
        /></a>

        <div class="search flex">
          <i class="fa fa-search"></i>
          <input type="text" name="search" placeholder="Search" />
        </div>

        <div class="action">
          <ul class="flex">
            <li>
              <a href="/compose"
                >Create <i class="fa fa-plus" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>

        <div class="profile">
          <div class="profile-menu">
            <ul class="flex">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- main -->

    <section class="main pb-1">
      <div class="container">
        <%posts.forEach((post)=>{%>
        <div class="post-cover">
          <div class="post" onclick="window.location='/comment/<%=post.id%>'">
            <a href="/profile/<%=post.user_id%>" class="personal-p flex">
              <div class="profile-pic">
                <!-- <img class="" src="/assets/google.png" alt="" /> -->
              </div>
              <p style="font-size: medium">
                <%=post.first_name%> <%=post.last_name%>
              </p>
            </a>

            <h4 class="post-title sm-x"><%=post.title%></h4>

            <% if (post.detail && post.detail.trim() !== "") { %>
            <p class="post-detail sm-x"><%=post.detail%></p>
            <% } %>

            <div class="function flex">
              <button onclick="stopPropagation()">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <span>1</span>
              </button>
              <button>
                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                <span>1</span>
              </button>
              <button
                onclick="event.stopPropagation();  window.location='/comment/<%=post.id%>'"
              >
                <i class="fa fa-comment" aria-hidden="true"></i> <span>1</span>
              </button>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </section>
    <script src="/js/home.js"></script>
  </body>
</html>
